.fight__room{
    display: flex;
    width: 100%;
    height: 100vh;
    
    .left{
        background: #813069;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        

        button{
            width: 50%;
        }
        img{
            &.anim{
                -webkit-animation: damageAnimation 0.1s;
                -webkit-animation-iteration-count: 2;
                animation: damageAnimation 0.1s;
                animation-iteration-count: 2;
            } 
        }
    }

    .right{
        background: lighten(#813069, 10%);
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;

            
        button{
            width: 50%;
        }

        img{
            &.anim{
                -webkit-animation: damageAnimation 0.1s;
                -webkit-animation-iteration-count: 2;
                animation: damageAnimation 0.1s;
                animation-iteration-count: 2;
            }  
        }
    }
}

@keyframes damageAnimation {
    0% {
        transform: translateX(0px);
    }

    33% {
        transform: translateX(30px);
    }

    66% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}